*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
.first{
    min-height: 50vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.first nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 1.2rem;
}
.first nav #ham-menu{
    display: none;
}
.first nav img{
    height: 50px;
    width: 150px;
    align-self: baseline;
}
#nav-list{
    list-style: none;
}
#nav-list li{
    display: inline;
    padding-left: 1rem;
}
#para{
    display: none;
}
#nav-list li a{
    color: white;
    text-decoration: none;
}
#nav-list li a:hover{
    border-bottom: 3px solid red;
}
#nav-list li:nth-child(5){
    padding-right: 1.5rem; 
}
.first h1{
    color: white;
    text-align: center;
    margin-top: 10%;
}
@media (max-width: 760px){
    #nav-list{
        display: none;
    }
    .first nav #ham-menu{
        display: block;
        width: 2rem;
        border: 1px solid white;  
    }
    .first h1{
        color: white;
        text-align: center;
        margin-top: 20%;
        padding-bottom: 3.5rem;
    }
    .first nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #nav-list{
        background-color: red;
    }
    #nav-list li{
        display: block;
        padding-left: 1.5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(4,9,30,0.7);
    }
    #nav-list li:nth-child(6){
        padding-left: 0;
    }
    #para{
        display: block;
        text-align: center;
    }   
}
@media (max-width: 480px){
    .first h1{
        color: white;
        text-align: center;
        margin-top: 45%;
        padding-bottom: 1.5rem;
    }
}

.hero-content{
    margin-top: 6rem;
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.hero-content img{
    height: 400px;
    width: 100%;
}
.hero-text{
    width: 62%;
    padding-right: 1rem;
}
.hero-table{
    width: 38%;
}
.hero-table h3{
    text-align: center;
    padding: .5rem;
    background-color: red;
    width: 100%;
}
.hero-table p{
    padding: .5rem;
}
.flex-parent{
    display: flex;
    justify-content: space-between;

}
.form{
    margin-top: 7rem;
    border: 1px solid rgb(88, 80, 80);
    margin-left: 5%;
    padding: 1.5rem;
    width: 60%;
}
.form input{
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    background-color: rgb(216, 200, 200);
    border: 1px solid white;
    border-radius: 3px;
}
input[placeholder]{
    padding-left: .5rem;
}
#yourName{
    margin-top: 1rem;
}
.form textarea{
    width: 100%;
    background-color: rgb(216, 200, 200);
}
textarea[placeholder]{
    padding-top: .8rem;
    padding-left: .5rem;
}
#btn-comment{
    margin-top: 1.5rem;
    padding: 1rem;
    background: transparent;
    border: 1px solid red;
    color: red;
    letter-spacing: 2px;
}
#btn-comment:hover{
    background-color: red;
    color: white;
}
@media (max-width: 760px){
    .hero-content{
        margin-top: 6rem;
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .hero-table{
        display: none;
    }
    .hero-text{
        width: 90%;
    }
}
@media (max-width: 480px){
    .hero-content{
        margin-top: 6rem;
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .hero-table{
        display: none;
    }
    .hero-text{
        width: 90%;
    }
    .hero-text img{
        display: none;
    }
    .form{
        margin-top: 7rem;
        border: 1px solid rgb(88, 80, 80);
        margin-left: 5%;
        padding-top: 1.5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        width: 90%;
    }
}
.footer {
    margin-top: 7rem;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.footer p{
    margin-top: 1.5rem;
}
.footer-img{
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}
.footer-img img{
    height: 28px;
    padding-right: .5rem;
}

