*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

.first{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.first nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 1.2rem;
}
.first nav #ham-menu{
    display: none;
}
.first nav img{
    height: 50px;
    width: 150px;
    align-self: baseline;
}
#nav-list{
    list-style: none;
}
#nav-list li{
    display: inline;
    padding-left: 1rem;
}
#para{
    display: none;
}
#nav-list li a{
    color: white;
    text-decoration: none;
}
@media (max-width: 760px){
    #nav-list li a{
        display: block;
        font-size: 20px;
    }
    .secDiv{
        margin-top: 10%;
    }
    #nav-list{
        display: none;
    }
    .first nav #ham-menu{
        display: block;
        width: 2em;
        
    }
    .first nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #nav-list{
        background-color: red;
    }
    #nav-list li{
        display: block;
        padding-left: 1.5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(4,9,30,0.7);
    }
    #nav-list li:nth-child(6){
        padding-left: 0;
    }
    #para{
        display: block;
        text-align: center;
    }
    
}
#nav-list li a:hover{
    border-bottom: 3px solid red;
}
#nav-list li:nth-child(5){
    padding-right: 1.5rem; 
}
.secDiv{
    color: white;
    margin-top: 15%;
    text-align: center;
}
.secDiv div{
    width: 75%;
    margin: auto;
}
@media (max-width: 480px) {
    
    #nav-list{
        display: none;
    }
    .first nav #ham-menu{
        display: block;
        width: 2em;
        
    }
    .first nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #nav-list{
        background-color: red;
    }
    #nav-list li{
        display: block;
        padding-left: 1.5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(4,9,30,0.7);
    }
    #nav-list li:nth-child(6){
        padding-left: 0;
    }
    #para{
        display: block;
        text-align: center;
    }
    
}
#btn{
    padding: 1rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 2.5rem;
}
#btn:hover{
    background-color: rgb(199, 12, 12);
    border: 1px solid transparent;
}
#btn:active{
    background-color: rgb(92, 10, 10);
    border: 1px solid transparent;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-bottom: 1.5rem;
}
.courses .course-header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.courses .modal-1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid white;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    padding: 1rem;
    margin-left: 1.2rem;
    margin-right: 1rem;
}
.courses .modal-2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid white;
    background-color: rgb(215, 215, 215);
    padding: 1rem;
    border-radius: 5px;
    margin-right: 1rem;
}
.courses .modal-3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border: 1px solid white;
    background-color: rgb(215, 215, 215);
    padding: 1rem;
    border-radius: 5px;
    margin-right: 1.2rem;
}
@media (max-width: 760px) {
    .courses{
        display: block;
    }
    .courses .modal-1{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .courses .modal-2{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .courses .modal-3{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 480px){
    #btn{
        margin-bottom: 1rem;
        padding: .5rem;
    }
    .courses{
        display: block;
    }
    .courses .modal-1{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .courses .modal-2{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .courses .modal-3{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
.campus{
    margin-top: 6rem;
}
.campus .campus-header{
    text-align: center;
}
.campus-img{
    margin-top: 3rem;
    display: flex;
}
.campus-img img{
    width: 250px;
    height: 450px;
    border-radius: 5px;
}
.campus-img #img1{
    margin-left: 7rem;
    margin-right: 1rem;
}
.campus-img #img2{
    margin-right: 1rem;
}
@media (max-width: 760px){
    .campus-img{
        display: block;
    }
    .campus-img img{
        width: 70%;
        height: 100%;
        border-radius: 5px;
    }
    .campus-img #img1{
        margin-left: 5rem;
    }
    .campus-img #img2{
        margin-left: 5rem;
    }
    .campus-img #img3{
        margin-left: 5rem;
    }
}
.facility{
    margin-top: 6rem;
}
.facility .facility-head{
    text-align: center;
}
.facility img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.facility .facility-content{
    display: flex;
    margin-top: 3rem;
}
.facility-content .library{
    margin-left: 4rem;
    width: 50%;
    margin-right: 1rem;
}
.facility-content .sports{
    width: 50%;
    margin-right: 1rem;
}
.facility-content .cafeteria{
    width: 50%;
    margin-right: 4rem;
}
@media (max-width: 760px) {
    .facility .facility-content{
        display: block;
        margin-top: 3rem;
    }
    .facility img{
        width: 60%;
        height: 200px;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .facility-content .library{
        margin-left: 1rem;
        width: 80%;
        margin-bottom: 2rem;
    }
    .facility-content .sports{
        margin-left: 1rem;
        width: 80%;
        margin-bottom: 2rem;
    }
    .facility-content .cafeteria{
        margin-left: 1rem;
        width: 80%;
    }
}
@media (max-width: 480px) {
    .facility img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .facility .facility-content{
        display: block;
        margin-top: 3rem;
    }
    .facility-content .library{
        margin-left: 1rem;
        width: 80%;
        margin-bottom: 2rem;
    }
    .facility-content .sports{
        margin-left: 1rem;
        width: 80%;
        margin-bottom: 2rem;
    }
    .facility-content .cafeteria{
        margin-left: 1rem;
        width: 80%;
    }
}
.reviews{
    margin-top: 6rem;
}
.reviews .rev-header{
    text-align: center;
}
.review-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.five-star{
    height: 20px;
}
.review-box{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
}
.review{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(130, 124, 124);
    border-radius: 10px;
}
.review-1{
    margin-right: 1rem;
    width: 100%;    
}
.last{
    margin-top: 6rem;
    background-image: linear-gradient(rgba(2, 3, 9, 0.7),rgba(2, 3, 9, 0.7)),url(images/banner2.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
    padding-bottom: 2rem;
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}
.last div{
    text-align: center;
}
#contact{
    padding: .7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 2.5rem;
}
#contact:hover{
    background-color: rgb(182, 18, 18);
    border: 1px solid rgb(182, 18, 18);
}
.footer{
    margin-top: 5rem;
}
.footer div{
    text-align: center;
}
.footer h4{
    padding-bottom: 1.2rem;
}
.footer-img{
    padding-top: .8rem;
}
.footer img{
    padding-left: .5rem;
}
@media (max-width: 600px){
    .review-box{
        display: block;
    }
    .review{
        display: block;
    }
    .review-1{
        margin-bottom: 1rem;
    }
}